# Força a detecção padrão de cada extensão
*.py linguist-language=Python
*.js linguist-language=JavaScript
*.css linguist-language=CSS
*.html linguist-language=HTML

# Reduz drasticamente o peso dos sites para o Python e o JS dominarem
# (O GitHub vai ler os arquivos, mas não vai contar o tamanho deles no gráfico)
**/css/* linguist-vendored
**/styles/* linguist-vendored
**/html/* linguist-vendored
**/pages/* linguist-vendored